<!-- About Page --> 

    <img src="../Assets/images/about.jpg" class="img-fluid" alt="about">
    <div class="container"></div>
      <div class="jumbotron">      
        <h1 class="display-4">Hello!</h1><br>
        <p>My name is Ayse Gul Genc. Currently, I am in my third and fourth semester of Software Engineering Technician Program at Centennial College.
          My experience in a nutshell
          I graduated with Teaching Science degree in 2013 from Adiyaman University/Turkey. 
          I have worked as a Full-time Teacher at Rosebud Primary School, Tsuen Wan/ Hong Kong in 2017 and in2018
          I worked as an English Teacher at Only Education Learning English Center- Shanghai City/China 2017 
          I worked as a PRINCIPAL at Rosegarden Bilingual Kindergarten and Learning Center, Shanghai City/China in 2016 and2017 
          I have worked as a Full-time Assistant Principal in Rosegarden Bilingual Kindergarten and Learning Center, Shanghai City/China in 2015 and 2016 
          If you would like to learn more about me, please press the link below and then obtain a copy of my resume.
          </p><br>
      </div>
    </div>

    

