<!-- Main Body -->
<main class="container mb-15" style="margin-top:2rem;margin-bottom:15em;">
    <!-- <h1 class="display-4">Welcome to the <%= title %> Page</h1> -->
    <%- include (page + '.ejs') %>
</main>