
  <!-- bottom -->
   <nav class="navbar fixed-bottom navbar-toggler bg-secondary">
      <div class="container">
        <p class="display-8 navbar-nav">&copy; Copyright by 2022. Ayse Gul Genc All rights reserved.</p>
      </div>
    </nav>