
     <div class="img-container">
        <img src="../Assets/images/home.jpg" class="img-fluid" alt="Responsive image"></div>
        <div class="centered"><h1 style="font-size: 120px; color: pink;">WELCOME!</h1></div>

    <div class="container"></div>
      <div class="jumbotron bg-white text-dark">      
        <h1 class="display-4">Hi there!</h1>
        <h5>Welcome to my webpage. In this webpage, you can learn more about me. My goal is to design and develop real-world applications that will improve people's lives.
          Thank you. If you have any questions, please do not hesitate to reach me!
          </h5>
      </div>
    
    <div class="jumbotron bg-secondary text-white">  
      <table style="width: 100%;">
        <td><h1 class="display-4" style="text-align: center; padding-bottom: 40px;">Learn more</h1></td>
      </table>
      <table style="width: 100%; padding-bottom: 40px;">
        <tr style="text-align: center;">
          <td><a href="/about"><div id="circle"><img src="../Assets/images/about.jpg" alt="About" width="50%" style="margin-top: 25%;"></div></a></td>
          <td><a href="/projects"><div id="circle"><img src="../Assets/images/projects.jpg" alt="Projects" width="50%" style="margin-top: 25%;"></div></a></td>
          <td><a href="/services"><div id="circle"><img src="../Assets/images/services.jpg" alt="Services" width="50%" style="margin-top: 25%;"></div></a></td>
          <td><a href="/contact"><div id="circle"><img src="../Assets/images/contact.jpg" alt="Contact" width="50%" style="margin-top: 25%;"></div></a></td>
        </tr>
        <tr style="text-align: center; font-family: 'Roboto', sans-serif;">
          <td style="width: 25%; padding-top: 25px;">About Us</td>
          <td style="width: 25%; padding-top: 25px;">Projects</td>
          <td style="width: 25%; padding-top: 25px;">Services</td>
          <td style="width: 25%; padding-top: 25px;">Contact</td>
        </tr>
      </table>
    </div>
    <div class="jumbotron bg-white text-dark">      
      <h1 class="display-4" style="text-align: center;">Contact</h1>
      <h4 style="text-align: center;">Please, do not hesitate to contact me.</h4><br>
      <div class="container">
        <div class="row">
          <div class="col-sm"><br><br>
            <form action="index.html">
              <div class="form-group">
                <label for="nameLabel">Name</label>
                <input type="text" class="form-control" id="nameLabel" placeholder="Name">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="form-group">
                <label for="shortMessage">Message</label>
                <textarea class="form-control" id="shortMessage" rows="3" placeholder="Feel free to write us a message"></textarea>
              </div>
                <input type="submit" value="Submit" class="btn btn-info">
              </form>
            </div>
          </div>
        </div> 
      </div>
    </div>
