<!-- Projects Page --> 


 <div class="container"></div>
        <div class="jumbotron" id="initialParagraph">      
          <h1 class="display-4">Projects by Me</h1>
          <p>I am new in Software Engineering, so I don't have many projects, I will share some of my projects that I did with my classmates. Also, I would like to share which projects I would like to work on in future.</p>
        </div>
      </div>
<!--first project-->
      <table class="table table-borderless" style="width: 80%; margin-left: auto; margin-right: auto;" id="projectsTable">

        <tr>
          <td><div id="circle"><img src="./Assets/images/absolutefit.jpg" alt="About" width="70%" style="margin-top: 50%;"></div></a></td>
          <td>
            <h5>AbsoluteFit</h5>
            AbsoluteFit is Home Workouts app; and it is about bringing a gym to your place, also it is about motivating individuals and the health and wellbeing of the society.</td>
        </tr>
      <!--second project-->
        <tr>
          <td>
            <h5>AI Secure Camera Application</h5>
            AI Secure will help consumers protect their properties from robbing and burglary by connecting to other devices such as cameras and cell phones that are no longer in use. </td>
        </tr>
<!--third project-->
        <tr>
          <td>
            <h5>Mother Platform App </i></h5>
            This website is a mothers’ platform where mothers can get ideas from each other, find answers to their questions, and share with mothers who are at the same stage of their children's development during pregnancy and after birth. In addition, this application provides families to socialize by talking to each other, to sell clothes that are small for their children or toys that they do not play with, or to share for free.</td>
      </tr>
    </table><br><br><br>
