<!-- Services Page --> 

         <div class="img-container">
      <img src="./Assets/images/services.jpg" class="img-fluid" alt="Responsive image"></div>
      <div class="centered"><h3 style="font-size: 40px; color: rgb(0, 162, 255);">Services by Me</h3></div>

    <div class="container"></div>
      <div class="jumbotron">      
        <p style="text-align: center;">Here are some of the services I can offer.</p>

        <table class="table table-borderless" style="width: 70%; margin-left: auto; margin-right: auto;" id="projectsTable">
          
          <tr>
            <td>
              <h5>Full Stack Developer</h5>
              Full stack technology refers to the entire depth of a computer system application, and full stack developers straddle two separate web development domains: the front end and the back end.
              JavaScript, HTML, CSS.
            </td>
          </tr>
          <tr>
            <td><div id="circle"><img src="./Assets/images/fullstack.jpg" alt="About" width="70%" style="margin-top: 50%;"></div></a></td>
          </tr>
          <tr>
            <td>
              <h5>Cyber Security Analyst</h5>
              A cybersecurity analyst protects company hardware, software, and networks from cybercriminals.
              Cybersecurity languages include Java, JavaScript, Python, SQL, PHP, PowerShell, and C.
            </td>
          </tr>
            
      </table>
      </div>
    </div>

